{% extends 'base.html' %}

{% block title %}
Home | Weather
{% endblock title %}

{% block content %}
<form method="POST" action="#">
  {{ form.csrf_token() }}
  <div class="container">
    <div class="row">
      <div class="col-sm">
        {{ form.name.label(class="text-monospace") }} 
      </div>
      <div class="col-sm">
        {{ form.name() }}

      </div>
      <div class="col-sm">
        {{ form.submit(class="btn btn-dark") }}
      </div>
    </div>
  </div>
  <div>
   
  </div>

  

</form>
{% if name %}
<h1 class="text-monospace">Temprature Is: {{ temp }} °C</h1>
{% else %}
<h1 class="text-monospace">Please Enter The City</h1>
{% endif %}
{% endblock content %}